body {
  font-family: century gothic;
}

.nav {
  display: flex;
  justify-content: center;
list-style: none;
}

li {
  text-align: center;
}

li:not(:last-child) {
margin-right: 1em;
}

.footer {
  background-color: #263238;
  height: 5%;
}

.footer-text {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}