{% extends 'base.html'%}

{% load static %} 

{% block go %} <br><br>


<style>
  button {
    display: block;
   
    margin: none;
    background-color: danger;
  }
  </style>
{% if messages %}
{% for message in messages %}

<div class="alert alert-{{message.tags}} m-2" id='msg' role='alert'>
{{message}}
</div>

{% endfor %}
{% endif %}

     
{% if messages %}
<ul class="messages alert aler">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}  
{% comment %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}  {% endcomment %}


            {% for i in results %}

<div class='container'>
    <div class="row">
 
            <div class="col-sm-6 col-lg-4 col-md-4">
            <div class="card" style="width: 18rem;"> 

                <img class="card-img-top" src="{{i.images.url}}" alt="Card image cap">
                <div class="card-body"> 
                    <h5 class="card-title">{{i.product_name}} </h5>
                    <p class="card-text">{{i.price}} </p>
                    
   <div class="float-start"> <a href="{% url 'read' i.id %}">View</a></div>
   <div class="float-end"> <a href="{% url 'update' i.id %}">update</a></div>
   <div class="mx-auto w-25"> <button type="button" class="rounded-circle" data-bs-toggle="modal" data-bs-target="#myModal"><a href="{% url 'delete' i.id %}">delete</a></button></div> 

  
 


    
                </div>
            <div>
                </div>
        </div><br>
                 

    

</div>

  


                  {% endfor %} 



  <script>
    
    // suppose the `id` attribute of element is `message_container`.
var message_ele = document.getElementById("msg");

setTimeout(function(){ 
   message_ele.style.display = "none"; 
}, 3000);
// Timeout is 3 sec, you can change it
</script>


{% endblock go %}

