{% extends 'base.html' %}
{% load static %}

{% block go %} <br><br>




{% for data in data %} 

<div class= 'container'>
        <div class="row">  <br><br>

                 <div class="col-sm-6 col-lg-4 col-md-4"> 
                 <div class="card">
                <!img src="{% static 'images/a.jpg' %}" class="card-img-top" alt="9"> 
                <h6 class="card-title">Categories</h6>
				
        
        <p>{{data.cate}}</p> 
        


                             </div><br><br>
                        </div> 
                </div> 
        </div>
        
             
        
{% endfor %} 






 {% for mobile in mobile %} 

<div class= 'container'>
        <div class="row">  <br><br>

                 <div class="col-sm-6 col-lg-4 col-md-4"> 

                

                            <div class="card"> 

                                {% if mobile.image %} 
                                    
                            <img src="{% static 'images/on.jpg' %}" class="card-img-top" alt="9"> 
                                {% endif %}
                             <h6 class="card-title">Brands</h6>
				
        

         <p>{{mobile.mb}}</p> 
                            </div>
                                </div> 
                        </div> 
                </div>
        
           
{% endfor %} 


{% comment %} 
{% for  multiple_q in  multiple_q%} 


  <p>{{multiple_q.price}}</p>  
   <p>{{multiple_q.product_name}}</p>  
    <p>{{multiple_q.images}}</p>  
     <p>{{multiple_q.product_category}}</p>  


{% endfor %}  {% endcomment %}



{% endblock go %}